:root{
    color: #fff;
}
.btn-for-nav {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: 4px solid #fff;
}
.btn-for-nav:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: #007bff;
    transition: 250ms;
}
.btn--primary {
    background-color: var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff
}

.btn--medium{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #fff
}