.NavbarItems{
    background-color: #007bff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.fa-react{
    margin-left: 0.5em;
    font-size: 1.6rem;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: right;
    margin-right: 1rem;
}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
background-color: lavender;
border-radius: 4px;
transition: all 0.2s ease-out;
}
.fa-bars{
    color: #fff;
}
.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}
@media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active{
        background: #007bff;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover{
        background-color: #fff;
        border-radius: 0;
    }
    .navbar-logo{
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }
    .menu-icon{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times{
        color: #fff;
        font-size: 2rem;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: turquoise;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: #007bff;
        color: white;
        transition: 250ms;
    }
}