
.App {
  text-align: center;
  min-height: 100%;
}

.App-logo {
  height: 75px;
  margin-top: 3px;
}

.align-left {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    bottom: 10
  }
}

.App-header {
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TitleReservations {
  margin-top: 10px;
  margin-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  color: #2e8bfc;
  font-weight: 400;
  font-size: 37px;
}
.TitleReservations1 {
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  color: #EBEBEB;
  background-color: #525252;
  font-weight: 400;
  font-size: 18px;
  padding: 4px;
  
}
.Reservations{
  height:70px; 
  width: 650px;
  border: 1px solid rgb(175, 172, 172);
  border-radius: 5px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 27px;
}
.RecervationsCenterItems{
  align-items: center;
  justify-content: center;
}

.ReservationsMain{
  flex-direction:column;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content:center;
}

.itemsReservation{
  line-height: 0mm;
}

.DPk{
  margin-top: 1px;
  margin-bottom: 40px;
  min-width: 200px;
  width: auto;
  align-items: center;
  align-content: center;
}

.datePicker {
font-size: 23px;
height: 40px;
width: 247px;
align-content: center;
margin-bottom: -10px;
font-family: 'Montserrat', sans-serif;
font-weight:lighter;
align-items: center;
align-content: center;
border: 1px solid#017bff;
text-align: center;
font-weight: 500;
border-radius: 4px;
background-color: #017bff;
color:#f9f9fa;
}

.react-datepicker {
  font-size: 1em;
  align-items: center;
  align-content: center;
}

.react-datepicker__header {
  padding-top: 0.8em;
  align-items: center;
  align-content: center;  
}

.Calendar{
  height: 52px;
  width: 52px;
  margin-top: -2px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
  position: absolute;
  color: #006EB6;
}

.Dropdown{
  height: 35px;
  width: 247px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  align-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.centered{
  text-align: center;
  align-items: center;
}

.Button{
  margin-left:auto;
  margin-right: 5px;
  color:darkgrey;
}

.Customer{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  font-size: 23px;
  margin-left: 5px;
}

.status{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  margin-right: 0 auto;
  padding: 10px 5px;
}
.statusReservation{
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  margin-left: 0px;
}
.CustomerName{
  font-size: 23px;
  margin-left: 5px;
  padding: 10px 5px;
}

.SearchBar {
  margin-left: auto;
}

.barnav-container {
  max-width: 860px;
  margin-right: 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #252525;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
}

.footer2 {
  flex-shrink: 0;
  text-align: center;
  background-color: #04629f;
  text-align: center;
  position:flex;
  left:0;
  bottom:0;
  right:0;
}

.BYUI-Gray-Logo{
  height: 35px;
  width: 65px;
  align-items: center;
  align-content: center;
  margin-top:-15px;
  margin-bottom: 0px;
}

.sun{
  height: 100px;
  width: 185px;
  margin-top:0px;
  margin-bottom: -19px;

  
  
}
.mountain{
  position:absolute;
  height: 100px;
  width: 190px;
  margin-top:0px;
  margin-bottom: -39px;
  margin-left: auto;
  margin-right: auto;
  transform: 'translate(-50%, -50%)';
  text-align: 'center';
  margin: 'auto',
}

.Modal{
  background-color: #f9f9fa;
}

.ReturnButton{
  width: 60px;
  border-radius: 04px;
}

.ButtonFormat{
  color:#006EB6;
  background-color:#017bff;
}

.dropdown-toggle,
.dropdown-menu {
  /* height: 46px; */
  width: 247px;
}
.BYUI{
  height: 50px;
  width: 50px; 
}

.auto-complete {
  color: rgba(0, 0, 0, 0.777);
  background-color:#f3f3f7db;
  border: 1px solid rgba(175, 172, 172, 0.633);
  border-radius: 3px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 0.8px;
  font-size: 17px;
  font-weight: 400;
 
  
 
}
.suggestion{
  
  font-size: 20px;
}
.placeholder{
  font-family: 'Montserrat', sans-serif;
}
.ORC{
  margin-left: auto;
  font-weight: bold;
  margin-top: 60px;
  font-Size: 30,
}
.BYUIHeader{
  margin-left: auto;
  margin-top: 60px;
}
.NavBarTitle{
  text-align: center;
}
.switchButton{
margin-left: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);

  }
  
}
