.App {
  text-align: center;
  height: 100vh;
  
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} 

.App-header {
  background-color: hsl(0, 0%, 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TitleReservations {
  margin-top: 30px;
  margin-bottom: 1px;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-around;
  color: #006EB6;
  
}

.Reservations{
  height:70px; 
  width: 900px;
  border: 1px solid rgb(175, 172, 172);
  border-radius: 5px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.RecervationsCenterItems{
  align-items: center;
  justify-content: center;

}

.ReservationsMain{
  flex-direction:column;
  display: flex;
  justify-content: space-around;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content:center;
}

.itemsReservation{
  line-height: 0mm;
}

.DPk{
  margin-top: 1px;
  margin-bottom: 60px;
  size: 100px;
}

.datePicker {
font-size: 23px;
height: 48px;
width: 247px;
text-align-last: center;

align-content: center;
margin-bottom: -10px;
font-family: 'Montserrat', sans-serif;
font-weight:normal;
margin-left: auto;
margin-right: auto;
border: 1px solid rgb(199, 197, 197);
}

.react-datepicker {
  font-size: 1em;
  align-items: center;
  align-content: center;
}

.react-datepicker__header {
  padding-top: 0.8em;
  align-items: center;
  align-content: center;  
}

.Calendar{
  height: 52px;
  width: 52px;
  margin-top: -2px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1px;
  position: absolute;
  color: #006EB6;
}

.Dropdown{
  font-size: 22px;
  width: 247px;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: auto; 
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  align-content: center;
  font-weight: bold;
  color: #006EB6;
  height: 46px;
}


.DropdownColor{
  color: #006EB6;
}

.Button{
  margin-left:auto;
  margin-right: 5px;
}

.Customer{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  font-size: 23px;
  margin-left: 5px;
}

.CustomerName{
  font-size: 23px;
}

.SearchBar {
  margin-left: auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #252525;
  height: 60px;
  position:absolute;
  left:0;
  bottom:auto;
  right:0;
}

.footer2 {
  flex-shrink: 0;
  text-align: center;
  background-color: #04629f;
  text-align: center;
  position:flex;
  left:0;
  bottom:20px;
  right:0;
}

.BYUI-Gray-Logo{
  height: 40px;
  width: 70px;
  align-items: center;
  align-content: center;
  margin-top:10px;
  margin-bottom: 1px;
}

.Modal{
  background-color: #f9f9fa;
}

.ReturnButton{
  width: 60px;
  border-radius: 04px;
}

.ButtonFormat{
  color: #f9f9fa;
  background-color: #f9f9fa;
}
.checkbox{
  color: '#006EB6';
  border-color:#04629f;
  background-color: #04629f;
 
}
.MuiCheckbox-colorPrimary.Mui-checked {
color: '#006EB6';
}
.SearchBarMenu{
margin-left: auto;
width: 200px;
background-color:#252525;
border-radius: 5px;
position: 'absolute',
}
/* .search: {
  position: 'absolute',
  margin: 'auto',
  borderRadius: theme.shape.borderRadius,
  backgroundColor: fade(theme.palette.common.white, 0.15),
  '&:hover': {
    backgroundColor: fade(theme.palette.common.white, 0.25),
  
  },
  marginLeft: 0,
  height: 35,
  width: '100%',
  [theme.breakpoints.up('sm')]: {
    marginLeft: theme.spacing(160), //120
    width: '20%',
  }, */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
